<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TWR_UART.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TWR_UART.Properties.Settings>
            <setting name="UDPPortLocal" serializeAs="String">
                <value>58299</value>
            </setting>
            <setting name="UDPPortRemote" serializeAs="String">
                <value>58200</value>
            </setting>
            <setting name="Localhost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPAddressRemote" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UART" serializeAs="String">
                <value>uart_1</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>None</value>
            </setting>
        </TWR_UART.Properties.Settings>
    </userSettings>
</configuration>