<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SergeM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SergeM.Properties.Settings>
            <setting name="COMPortNumber" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="COMPortBaudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="ReceiverModel" serializeAs="String">
                <value>GSU-7x</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormMainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMainPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </SergeM.Properties.Settings>
    </userSettings>
</configuration>